body {
  height: 100vh;
}

.TagList__outer {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

.TagList__title {
  margin: 0 auto;
  text-align: center;
}

.TagList__tagFilter {
  margin-bottom: 2em;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  border-bottom: 1px solid #eee;
}

.TagList__tagFilterInput {
  width: 100%;
  display: block;
  padding: 1em 2em;
}

.TagList__tagCharts {
  overflow-y: scroll;
}

.TagChart__outer {
  width: 100%;
  height: 400px;
  margin-bottom: 2em;
}

.TagChart__ruler {
  width: 80%;
  margin: 0 auto;
}

.TagChart__title {
  margin-bottom: "1em";
  font-family: sans-serif;
}

.TagChart__canvasWrapper {
  height: 320px;
  margin-bottom: 2em;
}

.TagChart__noData {
  height: 320px;
  width: 100%;
  background-color: #f7f7f7;
  color: #aaa;
  display: flex;
  justify-content: center;
  align-items: center;
}
