name: Update stats

on:
  workflow_dispatch:
  schedule:
    # Runs every 6 hours (see https://crontab.guru)
    - cron: "* 0,6,12,18 * * *"

jobs:
  update-stats:
    name: Update stats
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Scrape new data values
        run: ./cli.py scrape

      - uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          add: "."
          author_name: "GitHub Actions"
          message: "Scrape and update stats"
          push: true
